:root {
    --primaryGreen: #59b001;
    --secondaryGreen: #72c81b;
    --lightBlue: #f0f4f5;
    --black: black;
    --white: white;
}

* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    outline: none;
}

body {

    overflow: hidden;
    overflow-y: auto;
}






#home_active{
    color: var(--primaryGreen);
}
#propertise_active{
    color: var(--primaryGreen);
}
#team_active{
    color: var(--primaryGreen);
}
#about_active{
    color: var(--primaryGreen);
}
#project_active{
    color: var(--primaryGreen);
}
#blog_active{
    color: var(--primaryGreen);
}
#contact_active{
    color: var(--primaryGreen);
}












.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 8px;
    /* background-color: #59b001a8; */
}

/* -----------------------header---------------------- */




.sm-top-navbar {
    display: none;
}


.top-navbar {
    background-color: var(--primaryGreen);
}

.inner-top-navbar {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.inner-top-navbar>ul {
    display: flex;
    text-transform: capitalize;
    color: var(--white);
    align-items: center;

}

.inner-top-navbar>ul li:first-child {
    margin: 0%;
    margin-right: 6px;
}

.inner-top-navbar>ul li:last-child {
    margin: 0%;
}

.inner-top-navbar>ul li {
    margin: 0 4px;

}

.inner-top-navbar>ul span {
    font-weight: bold;
    margin-right: 6px;
}

.inner-top-navbar>ul a {
    color: var(--white);
    font-weight: 400;
}

.inner-top-navbar>ul>li>a>figure {
    width: 18px;
}

.inner-top-navbar>ul>li>a>figure>img {
    width: 100%;
}

.primary-navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
}

.primary-navbar ul {
    display: flex;
}

.primary-navbar ul li {
    margin-left: 12px;
    position: relative;
}

.primary-navbar ul li::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0%;
    height: 3px;
    border-radius: 25px;
    background-color: var(--primaryGreen);
    left: 0%;
    bottom: -8px;
    transition: 0.5s;
}

.primary-navbar ul li:hover::after {
    width: 100%;
}


.primary-navbar ul li a {
    text-transform: uppercase;
    color: var(--black);
}

.primary-navbar ul li a:hover {
    color: var(--primaryGreen);
}

.primary-navbar .logo {
    width: 100px;
}

.primary-navbar .logo img {
    width: 100%;
}

.md-primary-navbar {
    display: none;
}


/* -----------------------header---------------------- */


/* ////////////////////////////////////////////////////// */




/* -----------------------main---------------------- */

.hero {
    width: 100%;
    height: 500px;
    position: relative;
}

.hero::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.708);
    position: absolute;
    inset: 0;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.hero-content {
    width: 500px;
    height: max-content;
    position: absolute;
    inset: 0;
    z-index: 11;
    top: 30%;
    left: 100px;
}

.hero-content h1 {
    color: var(--white);
    text-transform: uppercase;
    word-spacing: 10px;
    margin: 8px 0;
}

.hero-content h3 {
    font-size: 15px;
    color: var(--white);
    text-transform: uppercase;

}

.hero-content p {
    word-spacing: 4px;
    color: var(--white);
}

.hero-content .highlight {
    color: var(--primaryGreen);
}

.hero-btn-wrapper {
    display: flex;
    width: fit-content;
}

.hero-btn-wrapper .hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding: 8px 0px;
    width: 150px;
    color: var(--white);
    text-transform: uppercase;
    border-radius: 25px;
    margin-top: 8px;
    border: 1px solid var(--white);
    position: relative;
    cursor: pointer;
}

.hero-btn-wrapper .hero-btn:hover {
    border: 1px solid transparent;
}

.hero-btn-wrapper .hero-btn::after {
    content: '';
    display: inline-block;
    width: 0%;
    border-radius: 25px;
    height: 110%;
    background-color: var(--primaryGreen);
    position: absolute;
    z-index: -1;
    left: 0;
    transition: 0.5s;
}

.hero-btn-wrapper .hero-btn:hover:after {
    width: 100%;
}

.main-forms {
    width: auto;
    background-color: var(--lightBlue);
    padding: 24px 0;

}

.main-forms .find {
    margin: 0 auto;
    width: 220px;
    height: 20px;
    padding: 12px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryGreen);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0;
}

form .dropdown {
    width: calc(25% - 24px);
    height: 50px;
    margin: 12px;
}

form .dropdown select {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
}

form .dropdown h3 {
    font-size: 14px;
}

form .dropdown .range {
    width: 100%;
}

form .form-btn {
    width: 150px;
    height: 40px;
    background-color: var(--secondaryGreen);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px auto;
}

form .form-btn:hover {
    background-color: var(--primaryGreen);
}

form .form-btn>a {
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100px;
}

.btns {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.btns .btn {
    background-color: transparent;
    margin: 0 12px;
    margin-bottom: 18px;
    width: 65px;
    padding: 6px 12px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid rgb(159, 159, 159);
    transition: 0.5s;
    text-transform: capitalize;
    color: var(--black);
}

.btns .btn:hover {
    border: 1px solid var(--primaryGreen);
    background-color: var(--primaryGreen);
}

.btns .btn:hover  {
    color: var(--white);
}

/* ------------------------card-------------------- */

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 2px 1px 2px grey, inset 1px 1px 1px grey;
    margin: 8px;
    width: 410px;
}

.card:hover .c-i {
    opacity: 0.4;
}

.card:hover .c-i-c::after {
    opacity: 1;
}

.card:hover h3 {
    color: var(--primaryGreen);
}

.card .c-i-c {
    background-color: black;
    width: 100%;
    height: 290px;
    position: relative;
    margin: 0% auto;
}

.card .c-i-c::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../imgs/products-icons/link.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 45%;
    left: 44%;
    transform: translate(-50% -50%);
    transition: 0.5s;
    opacity: 0;
}

.card-body {
    padding: 12px;
}

.card-body h3 {
    text-transform: capitalize;
    transition: 0.5s;
}

.card .c-i {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.card-location>a>.l-i {
    width: 14px;
}

.c-r-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.card-location a {
    display: flex;
    align-items: center;
    color: var(--black);
}

.c-r-ul>li>img {
    width: 50px;
}


.card-footer {
    background-color: var(--primaryGreen);
}

.card-footer .card-footer-ul {
    display: flex;
}

.card-footer .card-footer-ul li:nth-child(even) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: var(--white);
    background-color: var(--secondaryGreen);

}

.card-footer .card-footer-ul li {
    flex: 1;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
    color: var(--white);
}

.card-footer .card-footer-ul li .card-img {
    width: 14px;
    margin-right: 8px;
}

.card-footer .card-footer-ul li>h5 {
    position: relative;
    padding: 4px;
}

.squre {
    font-size: 8px;
    position: absolute;
    top: 0%;
    right: 2px;
}

.working{
    width: 80%;
    margin: 0 auto;
    background-color: #59b001;
}
.working>img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

.to-top {
    position: fixed;
    background-color: var(--primaryGreen);
    width: fit-content;
    height: fit-content;
    right: 32px;
    bottom: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;

}
.to-top:hover{
    background-color: var(--secondaryGreen);
    box-shadow: 1px 1px 3px black;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.arrow{
    width: 20px;
    margin-right: 6px;
}















/* ------------------------card-------------------- */



/* ----------------------main-body------------------- */
.content-box {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.content-box h2 {
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
}

.line {
    display: flex;
    margin: 0% auto;
    width: 30%;
}

.line-c {
    width: 100%;
    margin: 4px;
}

.line-c img {
    width: 100%;
}












.rating {
    width: 100%;
    height: 25vh;
    background-image: url(../imgs/main-icons/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: 100%;
    background-position: center;
    position: relative;
    z-index: -3;
    margin-top: 30px;
}

.rating::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.849);
    position: absolute;
    z-index: -2;
    inset: 0;
}

.rating-container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.rating-container>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.rating-container>ul>li {
    color: var(--white);
    text-align: center;
}

.rating-container>ul>li h3 {
    margin: 8px 0;
}

.r-i {
    width: 30px;
    margin: 0 auto;
}

.r-i img {
    width: 100%;

}





/* ----------------------main-body------------------- */
/* ----------------------main-footer------------------- */
.section-team {
    margin-bottom: 36px;
}

.team-content {
    margin: 0 12px;
    width: 2400px;
}

.team-content>h5 {
    margin: 6px 0;
}

.team-content>p {
    margin-top: 6px;
}

.team-box {
    width: 800px;
    margin: 0 auto;
    display: flex;
}

.team-pro {
    width: 800px;
    height: 220px;
    box-shadow: 1px 1px 2px rgb(142, 142, 142);
}

.team-content-bottom {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 6%;
}

.team-search {
    display: flex;
    align-items: center;
}

.team-search>input {
    outline: none;
    width: 150px;
    height: 24px;
    border: none;
    box-shadow: 1px 1px 1px black;
}

.team-search .material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--primaryGreen);
    height: 24px;
    width: 50px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}

.team-content-bottom>ul {
    display: flex;
    width: 26%;
    justify-content: space-between;

}

.team-content-bottom>ul>li>.t-s-i {
    width: 70%;
    position: relative;
    border-radius: 50%;
}

.team-content-bottom>ul>li>.t-s-i:hover .t-s-i-e {
    display: block;
}

.team-content-bottom>ul>li {
    width: 70%;
    position: relative;
}

.team-content-bottom>ul>li>.t-s-i>img {
    width: 100%;
}

.t-s-i-e {
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
    transition: 0.9s;
}

.team-avatar>ul {
    width: 100%;
}

.team-avatar>ul li {
    margin: 12px;
    background-color: #1501b0;
    border-radius: 30px;
}

.t-a-i-c {
    width: 70px;
    position: relative;
}

.t-a-i-c-2 {
    width: 70px;
    position: relative;
}

.t-a-i-c-3 {
    width: 70px;
    position: relative;
}

.t-a-i-c:hover .profile {
    display: block;
}

.t-a-i-c-2:hover .profile-2 {
    display: block;
}

.t-a-i-c-3:hover .profile-3 {
    display: block;
}

.t-a-i-c>.outline {
    opacity: 0.5;
    width: 100%;
}

.t-a-i-c-2>.outline {
    opacity: 0.5;
    width: 100%;
}

.t-a-i-c-3>.outline {
    opacity: 0.5;
    width: 100%;
}

.profile {
    width: 200%;
}

.profile-2 {
    width: 200%;
}

.profile-3 {
    width: 230%;
}

.t-a-i-c>.profile {
    position: absolute;
    top: 8%;
    display: none;
    transition: 0.4s;
    left: -1000%;
}

.t-a-i-c-2>.profile-2 {
    position: absolute;
    bottom: -74px;
    display: none;
    transition: 0.4s;
    left: -1000%;
}

.t-a-i-c-3>.profile-3 {
    position: absolute;
    bottom: -0px;
    display: none;
    transition: 0.4s;
    left: -1020%;
}

.t-a-i-c>.outline:hover {
    opacity: 1;
    transition: 0.4s;
}

.t-a-i-c-2>.outline:hover {
    opacity: 1;
    transition: 0.4s;
}

.t-a-i-c-3>.outline:hover {
    opacity: 1;
    transition: 0.4s;

  
}

/* ----------------------main-footer------------------- */

/* -----------------------main---------------------- */

/* -----------------------bottom-fooer---------------------- */

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
}

.f-b-i-c {
    width: 25%;
    height: 25%;
    background-color: var(--black);
    position: relative;
}

.f-b-i-c::before {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imgs/products-icons/link.png);
    z-index: 1111;
    transform: translate(-505 -50%);
    top: 48%;
    left: 45%;
    opacity: 0;
}

.f-b-i-c:hover::before {
    transition: 0.5s;
    opacity: 1;
}

.f-b-i-c:hover img {
    transition: 0.5s;
    opacity: 0.5;
}

.f-b-i-c>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
}















/* -----------------------bottom-fooer---------------------- */
/* -----------------------footer---------------------- */
.footer-top {
    background-color: var(--lightBlue);
    width: auto;
}











/* -----------------------footer---------------------- */


/* ////////////////////////////////////////////////////// */







/* ----------------custom-scroll-bar------------------ */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 255, 136);

}

::-webkit-scrollbar-thumb {
    background-color: var(--primaryGreen);

    border-radius: 25px;
}

/* ----------------custom-scroll-bar------------------ */



/* ////////////////////////////////////////////////////// */







